@use './helpers/abstracts' as *;

.faq {
	padding: 8rem 0;
	// min-height: 150rem;
}

.faq__h {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	margin-bottom: 6rem;
}

.faq__accordion {
	width: 100%;
	font-family: $font_1;
	font-style: normal;
	display: flex;
	flex-direction: column;
	gap: 5.4rem;
}

.faq__accordion_panel {
	border-width: 0.42rem 0.42rem 0.83rem 0.42rem;
	border-style: solid;
	border-color: $color_mercury;
	border-radius: 3.12rem;
	background-color: $color_white_lilac;
	padding: 4rem 5.2rem;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	flex-basis: 12rem;
	overflow: hidden;

	transition: flex-basis 500ms;

	&:has([aria-expanded='true']) {
		flex-basis: clamp(30rem, 100vh, 20rem);
		overflow: visible;
	}
}

.faq__accordion_trigger {
	font-weight: 700;
	font-size: 3.3rem;
	line-height: 4rem;
	text-align: start;

	display: flex;
	justify-content: space-between;
}

.faq__accordion_content {
	font-weight: 500;
	font-size: 2.7rem;
	line-height: 3.3rem;
	color: rgba(0, 0, 0, 0.75);
	transform: translateY(2rem);
	opacity: 0;
	transition:
		transform 500ms,
		opacity 500ms;

	&[aria-hidden='false'] {
		transform: translateY(0rem);
		opacity: 1;
	}

	& ol,
	ul,
	p:nth-child(n + 2) {
		color: rgba(0, 0, 0, 0.6);
	}

	& p:first-child {
		margin-bottom: 1rem;
	}

	& ol,
	ul {
		margin-left: 4rem;
	}

	& ol li {
		list-style: decimal;
	}

	& ul li {
		list-style-type: disc;
	}

	& ul li:not(:last-child) {
		padding-bottom: 1rem;
	}
}

.accordion-icon {
	display: inline-block;
	width: 4rem;
	height: auto;
	background-image: url('../imgs/chevron.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: transform $transition_dur;
	vertical-align: middle;
}

.accordion-icon.rotated {
	transform: rotate(180deg);
}
