@use './helpers/abstracts' as *;

.section--video {
	background: #f6f6f6;
	position: relative;

	@include bp($point_7) {
		padding: 0;
		max-height: 80rem;
	}
}

.video__title {
	position: absolute;
	top: 20.8%;
	left: 34.5%;
	@include bp($point_5) {
		top: 19%;
		left: 24%;
		font-size: 3rem;
		text-align: start;
		z-index: 2;
	}
}

.video {
	min-height: 98.3rem;
	position: relative;
	overflow: hidden;
}

.vector_3 {
	position: absolute;
	width: 589.22px;
	height: 985.47px;
	top: 25px;
	left: -80px;
	transform: rotate(4deg);
	z-index: 0;
	pointer-events: none;
	@include bp($point_7) {
		max-width: 370px;
		height: auto;
	}
}

.vector_4 {
	position: absolute;
	width: 540px;
	height: 930px;
	top: 65px;
	left: -42px;
	transform: rotate(4.16deg);
	z-index: 1;
	pointer-events: none;
	@include bp($point_7) {
		max-width: 370px;
		height: auto;
	}
}

.girl {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 80px;
	// max-width: 66.5rem;

	@include bp($point_0) {
		width: 50rem;
		left: 0%;
	}
	@include bp($point_3) {
		width: 40rem;
		left: 0%;
	}
	@include bp($point_5) {
		width: 39rem;
		left: 0%;
	}
	@include bp($point_6) {
	}

	@include bp($point_7) {
		width: 37rem;
		left: -2rem;
		bottom: 17rem;
	}
}

.dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	@include bp($point_2) {
		display: none;
	}
}

.ellipse {
	position: absolute;
	top: 0;
	right: 0;
	@include bp($point_1) {
		display: none;
	}
}

.video_embed {
	position: absolute;
	top: 25%;
	left: 61%;
	transform: translateX(-50%);
	max-width: 840px;
	min-width: 60rem;
	max-height: 570px;
	z-index: 5;
	overflow: hidden;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
	border-width: 1px 1px 8px 1px;
	border-radius: 25px;
	background: linear-gradient(257.02deg, #ffbfbf 12.43%, rgba(255, 243, 220, 0.8) 74.56%, #feeadd 91.22%);

	@include bp($point_1) {
		left: 61%;
	}
	@include bp($point_3) {
		min-width: 50rem;
		left: 61%;
	}
	@include bp($point_5) {
		min-width: 40rem;
		left: 50%;
	}
	@include bp($point_6) {
		min-width: 34rem;
		left: 50%;
	}

	@include bp($point_7) {
		height: auto;
		top: 28%;
		left: 50%;
	}
}

.video_iframe,
.custom_video {
	aspect-ratio: 840.75 / 576;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: inherit;
}

.paper_plane {
	position: absolute;
	bottom: 23%;
	right: 8%;
	z-index: 0;
	@include bp($point_1) {
		display: none;
	}
}
