@use './helpers/abstracts' as *;

html {
	// font-size: calc(100dvw / 1920 * 10);

	font-size: 10px;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	color: $color_text;
}

body {
	font-family: $font_1;
	font-weight: 400;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
	padding: 8rem 0;
}

.section__head {
	margin-bottom: 4rem;
	text-align: center;
}

.section__title {
	font-family: $font_2;
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1;
	color: #000;

	&--font42 {
		font-size: 4.2rem;
	}

	&:has(+ .section__descr) {
		margin-bottom: 2rem;
	}
}

.section__descr {
	font-family: $font_1;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1;
	color: #000;
}

.container {
	max-width: 156rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
	&.container--v2 {
		max-width: 131rem;
	}
	&.container--v3 {
		max-width: 192rem;
	}
}
